@use "../colors" as co;


@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Definición de mixin
@mixin flexBox($display: flex, $vertical: center, $horizontal: center) {
  display: $display;
  align-items: $vertical;
  justify-content: $horizontal;
}

.header {
  width: 86%;
  margin: 15px 80px;
  padding: 15px 10px;
  @include flexBox($horizontal: space-between);
  &__logo {
    width: 160px;
    @include flexBox($horizontal: space-between);
    &-logotipo {
      text-transform: uppercase;
      line-height: 12px;
      span:first-of-type {
        font-size: 18px;
        color: map-get(co.$colors, "gray");
      }
      span:last-of-type {
        font-size: 10px;
        color: map-get(co.$colors, "grayLight");
      }
    }
  }
  &__nav {
    width: 500px;
    @include flexBox($horizontal: space-between);
    ul {
      width: 450px;
      @include flexBox($horizontal: space-around);
      li {
        padding: 8px 18px;
        &:hover {
          padding: 8px 18px;
          background-color: map-get(co.$colors, "secondary");
          cursor: pointer;
          a {
            color: map-get(co.$colors, "white");
          }
        }
        a {
          color: map-get(co.$colors, "gray");
        }
      }
      .active {
        padding: 8px 18px;
        background-color: map-get(co.$colors, "secondary");
        cursor: pointer;
        a {
          color: map-get(co.$colors, "white");
        }
      }
    }
    &-icon-hamburguer {
      display: none;
      cursor: pointer;
      font-size: 25px;
    }
    &-icon {
      font-size: 20px;
      color: map-get(co.$colors, "primary");
      cursor: pointer;
    }
  }
  .noShow {
    display: none;
  }
  .Show {
    display: block;
  }

  &__form {
    width: 200px;
    padding: 10px 0;
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 0;
    &-input {
      width: 80%;
      padding: 10px;
      background-color: map-get(co.$colors, "grayLight");
      color: map-get(co.$colors, "gray");
      border-radius: 9999px;
      outline: none;
      border: none;
      font-size: 15px;
      text-transform: capitalize;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
}


@include mobile() {
  .header__form {
    top: 80px;
    bottom: 0;
    right: 20px;
  }
}
